.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bg);
  transition: background-color 0.3s ease;
}
.main {
  width: 100%;
  padding: 2rem 1.4rem;
}
.habits-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1.6rem;
}
.header-text {
  display: flex;
  flex-direction: column;
}
.header-text h2 {
  font-size: 1.25rem;
  font-weight: 500;
}
.header-text p {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--color-text-secondary);
}
.no-habit {
  width: 100%;
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}
.no-habit div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.no-habit div > p {
  color: var(--color-text-secondary);
  font-weight: 400;
}
