@import url("https://fonts.googleapis.com/css2?family=Pliant:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-bg: oklch(0.98 0 0);
  --color-bg-secondary: white;
  --color-bg-black: black;
  --color-text: #000000;
  --color-text-white: white;
  --color-border: #ececec;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-btn-bg: #ffffff;
  --color-btn-border: #ececec;
  --color-btn-text: #000000;
  --color-text-secondary: oklch(44.6% 0.03 256.802);
}

[data-theme="dark"] {
  --color-bg: oklch(21% 0.034 264.665);
  --color-bg-secondary: oklch(27.8% 0.033 256.848);
  --color-bg-black: white;
  --color-text: #ffffff;
  --color-text-white: black;
  --color-border: #333333;
  --color-shadow: rgba(255, 255, 255, 0.1);
  --color-btn-bg: #2a2a2a;
  --color-btn-border: #444444;
  --color-btn-text: #ffffff;
  --color-text-secondary: oklch(60.98% 0.04066 259.796);
}

.btn {
  background-color: white;
  padding: 0.5rem 0.7rem;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  font-size: 0.8rem;
  white-space: nowrap;
  transition:
    bacground-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;
}

.btn__black {
  border: none;
  background-color: var(--color-bg-black);
  color: var(--color-text-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: "Pliant", sans-serif;
  font-weight: 500;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--color-bg);
  color: var(--color-text);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
